.search-sec{
    padding: 2rem;
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.nav-link{
    margin-top: -15px;
}
.navbar {
    margin-top: 30px;
    transition:0.1s;
    }
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
@media (min-width: 992px){
    .search-sec{
        position: relative;
        top: -10px;
        background:#65328f;
    }
}

@media (max-width: 992px){
    .search-sec{
        background: #65328f;
    }
}
.logo{
   width: 225px;
    height: 60px;
}
.login{
    color: #65328f !important;
    /* background-color: #65328f !important; */
    padding-right: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* font-weight: bold; */
    font-size: 20px;
   margin-top: -5px;
   
}

.navbar-nav{
    margin-left:89px; 
    background-color: #e6dfee !important;
       
    padding: 5px;
}
.navbar-nav>li>a{
    color: #65328f !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    /* font-weight: bold; */
    margin-left: 5px;
    margin-top: -9px;

}
.navbar-nav>li>a:hover{
    background-color: #65328f !important;
    color: white !important;
    border-radius: 5px;
    transition: 0.5s;
}
.login:hover{
   background-color: #65328f !important;
   color: white !important;
   transition: 0.5s;
   border-radius: 5px;
   /* padding: 0%; */

}

.button{
    margin: 2px;
    color: #65328f !important;
    font-size: 25px;
    border-color: #65328f !important;
    border: solid 3px;
}
.button:hover {
    background-color: #65328f !important;
    color: white !important;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .topnav{
    color: white;
    font-size: 20px;
    padding-right: 25px;
    font-weight: 500;
    margin-top: -5px;
    
  }
  .topnav:hover{
      color: white !important;
      border-radius:0px;
border-bottom-width: 4px;
border-bottom-style: solid;
border-bottom-color: #854bb4;
    color: white !important;
  background-color: transparent !important
  }
  .navbar-nav{
      /* height: 75px; */
      /* background-color: #fff !important; */
      /* background-color:   linear-gradient(0deg, rgba(221,203,235,1) 0%, rgba(255,255,255,1) 100%)); */
     /* background-color: white !important; */
     
     
    }
    
    .navbar{
        /* background-color: white !important; */
       background-color: #e6dfee !important;
    }
   .backimage{
       background-image: url(Assets/upco.jpg);
      
   }
   .db{
       font-size: 20px;
       color: #65328f !important;
       /* border: #65328f solid !important; */
       padding: 2px;
      
   }
   .db:hover{
       background-color: #65328f !important;
       color: white !important;
   }
   @media (max-width: 1024px){
    .navbar-nav>li>a{
        color: #65328f !important;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 15px;
        margin-left: -5px;
    }
    .navbar-nav{
        margin-left: 50px;
    }
   }
   @media (max-width: 1321px){
    .navbar-nav>li>a{
        color: #65328f !important;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 15px;
        margin-left: -5px;
    }
    .navbar-nav{
        margin-left: 50px;
    }
   }
   @media (max-width: 768px) { 
    .navbar-nav>li>a{
        color: #65328f !important;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 13px;
        margin-left: -5px;
    }
    .mod{
        width: 500px; 
        margin-left:-250px;
        
    }
    .pic{
        width: 500px;
    }
    .navbar-nav{
        margin-left: 0px;
    }
    .login{
        color: #65328f !important;
        /* background-color: #65328f !important; */
        padding-right: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 15px;
       margin-top: -5px;
       
    }
    .logo{
        width: 200px;
        height: 50px;
    }

.admission{
    width: auto;
}


   }


   @media (max-width: 952px)  { 
    .navbar-nav>li>a{
        color: #65328f !important;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 13px;
        margin-left: -5px;
    }
    .mod{
        width: 500px; 
        margin-left:-250px;
        
    }
    .pic{
        width: 500px;
    }
    .navbar-nav{
        margin-left: 0px;
    }
    .login{
        color: #65328f !important;
        /* background-color: #65328f !important; */
        padding-right: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 15px;
       margin-top: -5px;
       
    }
    .logo{
        width: 200px;
        height: 50px;
    }

.admission{
    width: auto;
}


   }
   
   /* media end */
   
   .admission{
       margin-top: 100px;
       max-height:500px;
       overflow:hidden;  
       
   }
   .dropdown a:hover{
       background-color: #65328f !important;
       color: white !important;
   }
   .dropdown:hover>.dropdown-menu {
    display: block;
      /* background-color: white !important; */
      background: rgb(255,255,255);
      background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(227,219,238,1) 100%);
             
  }
  
  .dropdown>.dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }
  
   .icon{
       color:white;
       margin-top: 2px;
       padding: 2px !important;
   }
   .icon:hover{
       background-color: white !important;
       color: #65328f !important;
       border-radius: 5px;
   }
   ul.social-media-list a {
    /* padding: 2px; */
    /* border-radius: 5px; */
    /* background-color: white; */
    /* width: 36px;
    height: 36px; */
    margin-left: 10px;
}
ul.social-media-list li {
    display: inline-block;
}
.mod{
    width: 800px; 
    margin-left:-200px;
    
}
.pic{
    width: 800px;
}
.contact{
    margin-top: 100px;
    color: white;
}
.form-control{
    background-color: #ece2f5;
}
.butt{
    background-color:#ece2f5;
    border: #854bb4;
    color: #65328f !important;
    font-weight: bold;
}
.butt:hover{
    background-color:#ece2f5;
    border: #854bb4;
    color: #65328f !important;
    font-weight: bold;
}

.chancellor{
    margin-top: 150px;
}
.heading{
    margin-top: -50px;
    margin-bottom: 2px;
}
.message{
    padding: 20px;
    font-size: 25px;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:#65328f;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #back2Top {
    width: 50px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #65328f;
    color: white;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
.fields{
   margin: 30px;
   color:white;
   background-color:#65328f;
   padding: 10px;
   border-radius: 10px;
}
.card-body{
    background-color: #65328f;
    color: white;
}

.img-fluid{
    height: 300px;
}
.team{
    margin-top: 70px;
    margin-bottom: 40px;
}